{% extends "layout.html" %}

{% block title %}
ChaiCode Django Project
{% endblock %}

{% block content %}


<a href="{% url 'create_post' %}" class="btn btn-primary m-3">Create Post</a>

<div class="container row gap-3">
    {% for post in posts %}
    <div class="card" style="width: 18rem;">
        <img src="{{post.image.url}}" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">{{post.title}}</h5>
          <p class="card-text">{{post.content}}</p>
            {% comment %} <a href="{% url 'post_detail' post.id %}" class="btn btn-primary">Read More</a> {% endcomment %}
            {% if post.author == user %}
            
            <a href="{% url 'update_post' post.id %}" class="btn btn-primary">Edit</a>
            <a href="{% url 'delete_post' post.id %}" class="btn btn-primary">Delete</a>

            {% endif %}
        </div>
      </div>
    {% endfor %}

</div>


{% endblock %}